header {
  // background: url(../assets/hana.jpg) center no-repeat;
  // background-color: rgba(169,169,169,1);
  background-color: $secondary-background;
  // background-color: #A9A9A9;
  background-size: cover;
  height: 100vh;
  position: relative;
  color: $text;
}

// .header-overlay {
//   background-color: rgba(0,0,0,0.5);
//   // position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }



.header-hero-name {
  color: $primary-background;
  // padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100vh;
  font-size: 3rem;
  // line-height: 0.7px;
  p {
    font-size: 2rem;
    line-height: 0.5px;
    color: $primary-background;
    flex: 0 1 auto;
  }
}


.banner {
  position: fixed;
  top: 0;
  right:0;
  left: 0;
  width: 100%;
  // background-color: rgba(169,169,169,1);
  // background-color:rgba(17,17,17,0.8);
  // background-color:rgba(47,47,47,0.99);

  background-color: rgba(23,24,47,.95);

  // background-color: $primary;

  padding: 0px 0; 
  z-index: 10;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section-name {
  color: $primary-background;
  img {
    width: 12%;
  }
}

.header-nav ul {
  display: flex;
  flex-direction: column;
  li {
    // padding-left: 20px;
    padding-left: 0;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 3rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center
}




