@media (max-width: 1280px) {
  .about {
    // display: block;
  }
  .about-text {
    width: 100%;
  }


}


@media (max-width: 1050px) {

  .header-hero-name { 
    h1 {
    font-size: 4rem;
      flex-direction: column;
    }
    p {
      font-size:1rem;
    }
  }

  .about {
    // display: block;
    flex-flow: wrap;
  }

  .about-image {
    width: 50%; 
    padding-right: 0px;
  }

  .about-text {
    width: 100%;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: left;
    h3 {
      padding: 10px 0;
      line-height: 1;
    }
  }

  .about-text-greeting {
    font-size: 2.5rem;
  }
  

}

@media (max-width: 950px) {
  .header-hero-name { 
    h1 {
    font-size: 2.8rem;
      flex-direction: column;
    }
    p {
      font-size:1rem;
    }
  }
  
}

@media (max-width: 500px) {

  .title {
    font-size: 2.6rem;
  }

  .header-hero-name {
    align-items: flex-start;
    font-size: 2.8rem;
    p {
      // font-size: 1.5rem;
      flex-direction: column;
    }
  }
  
// ABOUT STYLES
  .about-image {
    width: 75%; 
  }

  .about-text {
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: left;
    h3 {
      padding: 10px 0;
      line-height: 1;
    }
  }

  .about-text-greeting {
    font-size: 1.5rem;
  }

  // PROJECTS STYLES
  .project-first {
    display: block;
  }
  .project-image {
    width: 100%;
  }

  .project-text {
    width: 100%;
  }

  .one,
  .three {
    // flex-flow: row wrap;
    text-align: left;
  }  

  .live-right  {
    justify-content: flex-start;
  }

  // SKILLS
  .icon {
    font-size: 2.5rem;
}


}
  
